*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}

body{
    background-color: lightgray;
}

.content    {
    width: 75%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}

/* animation */

@keyframes springy  {
    0%  {
        color: black;
    }

    50% {
        color: white;
        transform: scale(1.2);
    }

    100%    {
        color: black;
    }
}

.springy    {
    animation-name: springy;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* header */
#header {
    width: 100%;
    min-height: 110px;
    background-color: red;
    position: fixed;
    top: 0;
    left: 25%;
    right: 25%;
    transform: translate(-25%);
    z-index: 1;
}

.header-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.logo-block {
    width: 324px;
    height: 80px;
    margin: 15px;
    text-align: center;
}

#header-img {
    max-height: 100%;
    width: auto;
}

#nav-bar    {
    width: 420px;
    text-align: center;
    display: flex;
}

.nav-link   {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.nav-link:hover {
    color: white;
    transition: 0.3s;
}

/* offer block */


#offer  {
    margin: 23px 0;
    position: relative;
    top: 110px;
}

#offer iframe   {
    margin-right: 16px;
    border: 5px solid green;
    border-radius: 3px;
    box-shadow: gray 5px 2px 5px;
    width: 100%;
    max-width: 590px;
    height: 290px;
}

#offer  h2  {
    text-align: center;
    margin-bottom: 10px;
}

#offer > p    {
    font-size: 30px;
    padding: 10px 0;
    color: white;
    text-align: center;
    background-color: green;
}

.first-row  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

#form   {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: space-between;
}

#form input {
    height: 50px;
    border: 1px green solid;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 16px;
}

#email  {
    padding-left: 5px;
}

#submit {
    background-color: green;
    color: white;
    text-transform: capitalize;
}

#submit:hover   {
    background-color: white;
    color: green;
    cursor: pointer;
    transition: 0.3s;
}

/* highlights block */

#highlights {
    margin-top: 150px;
    margin-bottom: 80px;
}

.highlight-group {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    margin: 0 50px;
}

.highlight-group img    {
    width: 120px;
    height: 120px;
    margin-right: 30px;
}

.highlight-group p  {
    display: block;
    font-size: 18px;
    text-align: justify;
    width: 400px;
}

/* about block */

#about  {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 80px;
    
}

.about-item {
    height: 256px;
    width: 256px;
    border: 3px green solid;
    border-radius: 3px;
    box-shadow: gray 5px 2px 5px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    background-color: rgba(0, 255, 0, 0.1);
    margin-bottom: 20px;
}

/* footer */

#footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    background-color: green;
    color: white;
    width: 100%;
}

#footer a   {
    color: white;
}

#footer a:hover {
    color: red;
    transition: 0.3s;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

/* media queries */

@media  (max-width: 740px)  {

    .content    {
        width: 100%;
        text-align: center;
    }

    .header-content-wrapper {
        width: 75%;
        display: flex;
        justify-content: space-between;
    }

    .logo-block {
        display: block;
        width: 100%;
    }

    #nav-bar    {
        flex-direction: column;
    }

    #nav-bar a {
        font-size: 20px;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #offer  {
        top: 150px;
    }

    iframe  {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
    }

    .first-row {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #form   {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    #form input {
        width: 100%;
    }

    #submit {
        width: 100%;
    }

    #form > p {
        width: 100%;
    }

    #highlights {
        margin-top: 200px;
        margin-bottom: 80px;
    }

    .highlight-group p {
        margin-bottom: 30px;
    }


    #footer {
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
    }

    .left   {
        margin-bottom: 20px;
    }

    #about  {
        flex-direction: column;
        margin-bottom: 5%;
    }

    .about-item {
        width: 100%;
        border-right: none;
        border-left: none;
        margin: 0 auto 20px auto;

    }
}
